<div class="container">
    <div class="card">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a href="/auth/sign-up">Create your account</a>
        <br>
        <a href="/auth/sign-in">Sign in</a>
        <br>
        <a href="/protected">See the secret page</a>
    </div>
</div>