<div class="container">
    <div class="card">
        <h1>Create your account!</h1>
        <form action="/auth/sign-up" method='POST'>
            <input type="email" placeholder="email" required='true' name='email'>
            <br>
            <input type="password" placeholder="password" required='true' name='password'>
            <br>
            <br>
            <button type="submit">Create your account!</button>
        </form>
    </div>
</div>